body{
    background:#f4f9ff;
}

/* SIDEBAR */

.sidebar{

    width:250px;

    height:100vh;

    background:linear-gradient(180deg,#0d6efd,#00b4d8);

    position:fixed;

    top:0;

    left:0;

    padding-top:20px;

    box-shadow:5px 0px 20px rgba(0,0,0,0.1);
}

.sidebar h2{

    color:white;

    text-align:center;

    margin-bottom:40px;

    font-weight:bold;
}

.sidebar a{

    display:block;

    color:white;

    padding:15px 25px;

    text-decoration:none;

    font-size:17px;

    transition:0.3s;
}

.sidebar a:hover{

    background:rgba(255,255,255,0.2);

    padding-left:35px;
}

/* MAIN CONTENT */

.main-content{

    margin-left:270px;

    padding:30px;
}

/* ANALYTICS CARDS */

.analytics-card{

    background:white;

    border-radius:20px;

    padding:30px;

    text-align:center;

    box-shadow:0px 10px 25px rgba(0,0,0,0.1);

    transition:0.3s;
}

.analytics-card:hover{

    transform:translateY(-5px);
}

.analytics-card h2{

    font-size:40px;

    color:#0d6efd;

    font-weight:bold;
}

.analytics-card p{

    color:gray;

    font-size:18px;
}

/* TABLE */

.table{

    border-radius:15px;

    overflow:hidden;
}